<a href="https://colab.research.google.com/github/ezazahmed21/Full_Stack_Data_Science_Learning/blob/main/PB_001.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**1.** In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.
* , 'hello' ,-87.8 ,- , / ,+	, 6

**Ans :** 

**Value** : 'hello',-87.8,6

**Expression** : -,/,+,*

**2.** What is the difference between string and variable?

**Ans:**

**String** is a group of characters or a single character usually enclosed in Double quotes " " or single quotes ' '.

Example : "hello" or 'hello'


**Variable** is used to store of information data assign them. data will be int, float , complex or string etc. = operator is use to assign value in variable. And in python variable is case sensitve.

Example : A='hello'

**3.** Describe three different data types.

**Ans:**

Three Data types in python are int, float, str.

**int data type:** Is use to represent integr values.

**float data type:** Is to represent decimal values.

**str data type:** Is use to represent String value.

In Python, we can identify data type of any value by type().

In [2]:
integer_value = 1
float_value=1.0
string_value="hello"

print(f"{integer_value} data type is {type(integer_value)}")
print(f"{float_value} data type is {type(float_value)}")
print(f"{string_value} data type is {type(string_value)}")

1 data type is <class 'int'>
1.0 data type is <class 'float'>
hello data type is <class 'str'>

**4.** What is an expression made up of? What do all expressions do?

**Ans:**

An expression is a combination of operators and operands that is interpreted to produce some other value. In any programming language, an expression is evaluated as per the precedence of its operators. So that if there is more than one operator in an expression, their precedence decides which operation will be performed first. We have many different types of expressions in Python.

Type of Expression :

Logical

Equality

Comparision

Arthimatic

Bitwise 

Operators for sets and dictionary

**5.** This assignment statements, like spam = 10. What is the difference between an
expression and a statement?

**Ans:**

Expression is evaluates as per of its operators and provide some output for the same.

Example : 10+3 --> 13

Statement is not evaluates and not return anything.

**6.** After running the following code, what does the variable bacon contain?
bacon = 22

bacon + 1

**Ans:**

The variable bacon is set to 22 .The expression bacon + 1 does not reassign the value in bacon, So, value in bacon is 22 only.

**7.** What should the values of the following two terms be?
&#39;spam&#39; + &#39;spamspam&#39;
&#39;spam&#39; * 3

**Ans:**

Both expressions evaluate to the string 'spamspamspam' Where as the first expression follows String Concatentation and the second expression follows String Multiplication.

In [3]:
print('spam'+'spamspam') # string concatenation
print('spam'*3) # string multiplication

spamspamspam
spamspamspam

**8.** Why is eggs a valid variable name while 100 is invalid?

**Ans:**

In python,Variable names cannot begin with a number. 

Rule for variable are in python :-

*   Variable name must start with a letter or the underscore character.
*   Variable name cannot start with a number.

*   Variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, & _ ).
*   Variable names are case-sensitive

*   The reserved words(keywords) cannot be used naming the variable.

In [5]:
100 = 1

SyntaxError: ignored

**9.** What three functions can be used to get the integer, floating-point number, or string
version of a value?

**Ans:**

The int(),float(),and str() functions will be use to the get the integer,floating-point number,string version of the value.

In [9]:
integer_value = 1
float_value=1
string_value="1"

print(f"{integer_value} data type is {type(integer_value)} and conversion is {int(float_value)}" )
print(f"{float_value} data type is {type(float_value)} and conversion is {float(integer_value)}")
print(f"{string_value} data type is {type(string_value)} and conversion is {str(string_value)}")

1 data type is <class 'int'> and conversion is 1
1 data type is <class 'int'> and conversion is 1.0
1 data type is <class 'str'> and conversion is 1

**10.** Why does this expression cause an error? How can you fix it?
&#39;I have eaten &#39; + 99 + &#39; burritos.&#39;

**Ans:**

This cause of error is 99. As we are try to concate String with integer  value. 99 must be typecasted to a string to fix this error.

In [10]:
print("I have eaten " + 99 + " burritos")

TypeError: ignored

In [11]:
print("I have eaten " + str(99) + " burritos")

I have eaten 99 burritos